language: php
php:
  - 5.5
  - 5.6
  - hhvm
  - nightly
before_script:
  - mysql -e 'CREATE DATABASE cvs_test'
  - composer install --prefer-source --no-interaction --dev
  - php artisan migrate --force
script: vendor/bin/phpunit
matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true
notifications:
    on_success: never
    on_failure: always